*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #f7352e /*f7ec71*/;
}

.pokeLogo{
	height: 20%;
	width: 30%;
	margin: 2em 0 2em 0;
}

.visuallyhidden{
	margin: 1em 0 2em 0;
}

#contenedorPokemon{
	margin: 40px 0;
}

input {
	min-width: 200px;
	padding: 5px;
}

#submit-btn {
	background-color: #0651DA;
	color: white;
}

.pokemon {
	background-color: white;	
	text-align: center;
}

.pokemon:hover {
	background-color: #eee;	
}

.pokemon img {
	width: 12em;
}

.modal img {
	width: 18em;
}

.pokedex {
	background-color: red;
}

.namePoke {
	background-color: #646464;
	color: white;
	text-transform: capitalize;
	padding: 5px;
}

.cardPoke {	
	margin: 10px;
	cursor: pointer;
}